
.navBarDiv{
    display: flex;
    flex-direction: column;
    
}
.itemTitle{
    margin: 1rem;
    cursor: pointer;    
    color: rgb(236, 221, 221);
    text-align: center;
  
}

.itemTitle:hover{    
    text-decoration: underline;
}

.navBarImg{
    margin-top: 1.5rem;
    width: 400px;
    height: 400px;
}

                                                                /* NavBarItem Media Queries */




