.header{
    display: flex;
    margin-bottom: 3rem;   
}

.headerTitle{
    margin: auto;
    display: flex;
    flex-direction: column;    
    text-align: center;
    color: #205c5c;
}


.headerLink{
    color: #205c5c;
}

.headerLink:hover{
    color: whitesmoke
}

.title{
    font-size: 3.8rem;
}

.subtitle{
    font-size: 2rem;
}





