.header{
    display: flex;
    margin-bottom: 3rem;   
}

.headerTitle{
    margin: auto;
    display: flex;
    flex-direction: column;    
    text-align: center;
    color: rgb(32, 92, 92);

}

.headerTitle:hover{
    background-color: whitesmoke;
}



