.headerDivContainer {
    display: flex;
    flex-direction: column;    
}

.headerAccessDiv {
    display: flex;

}

.headerAccessName {
    margin-top: 1rem;
    font-family: 'Caveat', cursive;
    color: whitesmoke;
    font-size: larger;
}

.headerSignOutButton {
    padding: 0.2rem;    
    cursor: pointer;    
    margin-top:1.5rem;
    border: solid 0.1rem rgba(32, 92, 92, 0.85);
    border-radius: 8px;
    background-color: rgb(32, 144, 144);    
    color: rgb(234, 221, 221);
    width: 100%;
}

.headerTitleDiv{
    display: flex;
    justify-content: center;       
}


.headerTitle{    
    display: flex;
    flex-direction: column;      
    text-align: center;
    /* color: #205c5c; */
    color: rgb(14, 83, 83);    
}


.headerLink{
    color: #205c5c;
}

.headerLink:hover{
    color: whitesmoke;
    text-decoration: underline;
}

.title{
    font-size: 6rem;
    font-weight: lighter;       
}

.subtitle{
    font-size: 3rem;
    font-family: 'Caveat', cursive;
    font-weight: lighter;      
}

                                                        /* MEDIA QUERIES */

@media (max-width: 478px ) {

    .title {
        font-size: 3.7rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .headerAccess {
        font-size: 0.8rem;
    }

    .headerAccessName {
        font-size: 1rem;
    }

    .headerSignOutButton{
        font-size: 0.6rem;
        padding: 0;
        margin-top: 0.5rem;
    }
}

@media (max-width: 288px) {

    .title {
        font-size: 3.2rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

}





