

.clickCounterDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clickCounterButtons{
    display: flex;
}

.clickCounterMenos{
   width: 1.3rem;
   background-color: grey;
   cursor: pointer;    
    
}
.clickCounterMas{
    width: 1.3rem;
    background-color: grey;
    cursor: pointer;
   
}
.clickCounter{
    margin: 0.5rem;
}

