* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Hanken Grotesk', sans-serif;
 }

body{
  background-color: rgba(128, 128, 128, 0.601);
}

.App {
  display: flex;
  flex-direction: column;
}

.productSection{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 3rem;
  height: 5rem;
  background-color: rgb(14, 83, 83);
  border: 0.1rem solid whitesmoke;
  
}

.paginaEnConstruccion {
  color: whitesmoke;
  margin: auto;
  margin-top: 8rem;
  font-weight: lighter;
}
